.container {
    background-color: white;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 20px 0;
    position: sticky;
    top: 0;
    border-bottom: 4px solid #B6E79F;
    z-index: 999;
    
    ul li {
        padding: 20px;
    }

    ul li a {
        font-weight: 700;
        color: #696969;
    }
}