.container {
    padding: 20px;
    button {
        border: none;
        background-color: #f4f4f4;
        height: auto;
        padding: 15px 0;
    }

    span {
        font-size: 18px;
    }

    span:nth-child(2) {
        margin-right: 20px;
    }

    span:first-child {
        padding: 10px 20px;
        border-radius: 7px;
        background-color: #B6E79F;
        margin-right: 10px;
    }
}